<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Travel Automation Suite" parallel="false" verbose="2">
    <test name="Flight Search Test">
        <classes>
            <class name="com.travelautomation.tests.FlightSearchTest">
                <methods>
                    <include name="testFlightSearchAndComparison"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>